@import "../common.scss";

.members-main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 20px;
}

.no-members-div {
  margin: 20px;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.member-body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
