<div class="main-page-body-div">
  <div class="user-settings-body">
    <div class="h1-div">
      <h1 class="main-page-h1">Your account settings</h1>
    </div>

    <div class="profile-card-body">
      <div class="profile-card">
        <div class="pfp-image-elem-main">
          <div class="pfp-image-elem">
            <img class="image-frame" src="{{currentMemberService.memberDTO?.pfpUrl}}" alt="pfp"
                 *ngIf="currentMemberService.memberDTO?.hasPfp()">
            <fa-icon [class]="['user-icon']" [icon]="faUser" *ngIf="!currentMemberService.memberDTO?.hasPfp()"></fa-icon>
          </div>

          <div class="pfp-edit-elem" (click)="openModal()">
            <fa-icon [class]="['camera-icon']" [icon]="faCamera"></fa-icon>
          </div>
        </div>
        <div class="profile-top-div-info">
          <span class="text-font-700">{{ currentMemberService.memberDTO?.username }}</span>
          <span>{{ currentMemberService.memberDTO?.email }}</span>
        </div>
      </div>
      <div class="tags-elem">
        <div class="tags-select-div">
          <div class="tags-select">
            <input class="default-input-3" [(ngModel)]="tagProposal">
          </div>
          <div class="clickable-icon-elem-3" (click)="saveOnClick()">
            <fa-icon [icon]="faArrowRight" [class]="['clickable-icon-3']"></fa-icon>
          </div>
        </div>
        <div class="tags-container">
          <div class="tag-element" *ngFor="let tag of memberTags">
            <span>{{tag.name}}</span>
            <div class="clickable-icon-elem-4" (click)="onDeleteTag(tag)">
              <fa-icon [icon]="faXmark" [class]="['clickable-icon-4']"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-edit-elem">
        <div class="clickable-icon-elem-1" (click)="this.routerService.routeToConnectionSecurity()">
          <fa-icon [class]="['clickable-icon-1']" [icon]="faPenToSquare"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<app-upload-pfp-modal
  [isModalOpen]="isModalOpen"
  [memberDTO]="this.currentMemberService.memberDTO!"
  (onModalChangeEmitter)="closeModal($event)"
></app-upload-pfp-modal>
