<form (onResize)="handleFooterTopMinValue($event, 0)" (ngSubmit)="onSubmit()">
  <div class="sign-form-body">
    <div class="sign-form-body-div-2">
      <app-logo></app-logo>
      <div class="sign-form-elem">
        <h1>Register</h1>
      </div>
      <div class="sign-form-elem">
        <label for="username-input">Username:</label>
        <input type="text" id="username-input" [(ngModel)]="usernameInput" name="username-input">
        <span class="validation-error-span" *ngIf="isUsernameInvalid()">{{ fieldInvalidMessage }}</span>
        <ng-container *ngFor="let error of registerResponse.findErrorListByName(USERNAME_ERROR_LIST).errors">
          <span class="validation-error-span">{{ error }}</span>
        </ng-container>
      </div>
      <div class="sign-form-elem">
        <label for="email-input">Email:</label>
        <input type="email" id="email-input" [(ngModel)]="emailInput" name="email-input">
        <span class="validation-error-span" *ngIf="isEmailInvalid()">{{ emailInvalidMessage }}</span>
        <ng-container *ngFor="let error of registerResponse.findErrorListByName(EMAIL_ERROR_LIST).errors">
          <span class="validation-error-span">{{ error }}</span>
        </ng-container>
      </div>
      <div class="sign-form-elem">
        <label for="password-input">Password:</label>
        <input type="password" id="password-input" [(ngModel)]="passwordInput" name="password-input">
        <span class="validation-error-span" *ngIf="isPasswordInvalid()">{{ passwordInvalidMessage }}</span>
        <ng-container *ngFor="let error of registerResponse.findErrorListByName(PASSWORD_ERROR_LIST).errors">
          <span class="validation-error-span">{{ error }}</span>
        </ng-container>
      </div>
      <div class="sign-form-elem">
        <label for="passwordConfirmation-input">Password Confirmation:</label>
        <input type="password" id="passwordConfirmation-input" [(ngModel)]="confirmPasswordInput"
               name="passwordConfirmation-input">
        <span class="validation-error-span" *ngIf="isPasswordsNotMatch()">{{ passwordsNotMatchMessage }}</span>
      </div>
      <div class="sign-form-elem">
        <re-captcha (resolved)="resolved($event)"  #captchaRef></re-captcha>
        <label class="validation-error-span centered-span" *ngIf="isCaptchaInvalid()">{{ notRobotMessage }}</label>
      </div>
      <div class="separation-line-small"></div>
      <div class="sign-form-elem">
        <ng-container *ngFor="let error of emailVerificationResponse.errors">
          <span class="validation-error-span">{{ error }}</span>
        </ng-container>
      </div>
      <div class="sign-form-elem" *ngIf="formValidated">
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="sign-form-elem">
        <button class="auth-button" type="submit" name="submit-button">Register</button>
      </div>
      <div class="sign-form-elem">
            <span class="centered-span">By creating an account, you agree to Digital Activism's
              <button class="href-button" (click)="routerService.routeTo('')">Conditions of Use</button>
              and
              <button class="href-button" (click)="routerService.routeTo('')">Privacy Notice</button>.</span>
      </div>
      <div class="sign-form-elem">
        <span class="centered-span">Already have an account?
          <button class="href-button" (click)="routerService.routeToLogin()">Login here &rarr;</button>
        </span>
      </div>
    </div>
  </div>
</form>
<app-footer
  [footerTopMinValue]="footerTopMinValue"
  [position]="position"
></app-footer>
