@import "../../common.scss";

.communities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: 20px;
}

.community-widget-body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.no-communities-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-community-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;

  width: 100%;
}

