<div class="posts-main-body">
  @if (communityDTO.isAdmin) {
    <div class="create-post-div">
      <button class="default-btn" (click)="addPostOnClick()">Add Post</button>
    </div>
  }

  @if (posts.length == 0) {
    <div class="no-posts-div">
      <span  class="title-span">No posts to show</span>
    </div>
  } @else {
    <div class="posts-container">

      <div class="post-body-div" *ngFor="let post of posts">
        <app-post
          [postDTO]="post">
        </app-post>
      </div>

    </div>
    <mat-paginator class="custom-paginator"
                   [length]="length"
                   [pageSize]="pageSize"
                   [showFirstLastButtons]="true"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageIndex]="pageIndex"
                   (page)="handlePageEvent($event)"
                   aria-label="Select page">
    </mat-paginator>
  }
</div>
<app-add-post-modal
  [isModalOpen]="isAddPostModalOpen"
  [postRequest]="editingPostRequest"
  (onModalChangeEmitter)="onAddPostModalChange($event)"
  (onPostAddedEmitter)="onPostAdded($event)"
></app-add-post-modal>
