@import "../common.scss";

.campaigns-main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 20px;
}

.create-campaign-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.no-campaigns-div {
  margin: 20px;
}

.campaigns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.campaign-body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
