<form (onResize)="handleFooterTopMinValue($event, 0)" (ngSubmit)="onSubmit()">
  <div class="sign-form-body">
    <div class="sign-form-body-div">
      <app-logo></app-logo>

      @if (isPasswordReset()) {
        <div class="sign-form-elem">
          <span class="validation-success-span centered-span">Your password has been successfully reset, you can now
            <button class="href-button" (click)="routerService.routeToLogin()">Login &rarr;</button>
          </span>
        </div>
      } @else {
        <div class="sign-form-elem">
          <h1>Reset your password</h1>
          <span class="centered-span">You requested a password change for your account.</span>
        </div>

        <div class="sign-form-elem">
          <label for="newPasswordInput">New Password:</label>
          <input type="password" id="newPasswordInput" [(ngModel)]="newPasswordInput" name="newPassword-input">
          @if (isPasswordInvalid()) {
            <span class="validation-error-span">{{ passwordInvalidMessage }}</span>
          }
        </div>
        <div class="sign-form-elem">
          <label for="newPasswordConfirmationInput">Enter your new password again:</label>
          <input type="password" id="newPasswordConfirmationInput" [(ngModel)]="newPasswordConfirmInput"
                 name="newPasswordConfirmationInput">
          @if (isPasswordsNotMatch()) {
            <span class="validation-error-span">{{ passwordsNotMatchMessage }}</span>
          }
        </div>

        <div class="separation-line-small"></div>

        <div class="sign-form-elem">
          @for (errorList of resetPasswordResponse.errorLists.errorList; track errorList) {
            @for (error of errorList.errors; track error) {
              <span class="validation-error-span">{{ error }}</span>
            }
          }
        </div>

        <div class="sign-form-elem">
          <re-captcha (resolved)="resolved($event)" #captchaRef></re-captcha>
          @if (isCaptchaInvalid()) {
            <label class="validation-error-span centered-span">{{ notRobotMessage }}</label>
          }
        </div>
        <div class="sign-form-elem">
          <button class="auth-button" type="submit">Change Password</button>
        </div>
      }
    </div>
  </div>
</form>
<app-footer
  [footerTopMinValue]="footerTopMinValue"
  [position]="position"
></app-footer>
