<form (onResize)="handleFooterTopMinValue($event, 0)" (ngSubmit)="onSubmit()">
  <div class="sign-form-body">
    <div class="sign-form-body-div">
      <app-logo></app-logo>
      <div class="sign-form-elem"><h1>Password Recovery</h1></div>
      @if (isEmailSent == ACTION_SUCCESS) {
        <div class="sign-form-elem">
          <span class="validation-success-span centered-span">An Email with a recovery link has been sent to your account.</span>
        </div>
      }
      @if (isEmailSent != ACTION_SUCCESS) {
        <div class="sign-form-elem">
          <label for="inputEmail">Email:</label>
          <input type="email" id="inputEmail" [(ngModel)]="emailInput" name="inputEmail">
          @if (isEmailInvalid()) {
            <span class="validation-error-span">Email field is required.</span>
          }
          @if (isEmailSent == ACTION_FAILURE) {
            @for (error of recoverPasswordResponse.errors; track error) {
              <span class="validation-error-span">{{ error }}</span>
            }
          }
        </div>
        <div class="separation-line-small"></div>
        <div class="sign-form-elem">
          <re-captcha (resolved)="resolved($event)" #captchaRef></re-captcha>
          @if (isCaptchaInvalid()) {
            <label class="validation-error-span centered-span">{{ notRobotMessage }}</label>
          }
        </div>
        <div class="sign-form-elem">
          <button class="auth-button" type="submit">Send Link</button>
        </div>
      }
    </div>
  </div>
</form>
<app-footer
  [footerTopMinValue]="footerTopMinValue"
  [position]="position"
></app-footer>
