@import "../../common.scss";

.campaigns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: 20px;
}

.campaigns-widget-body-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.no-campaigns-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
