<div class="main-page-body-div">
  <div class="h1-div">
    <h1 class="main-page-h1">My Campaigns</h1>
  </div>

  @if(campaigns.length == 0) {
    <div class="no-campaigns-div">
      <span class="title-span">No Campaigns to show</span>
    </div>
  } @else {
    <div class="campaigns-container">
      <div class="campaigns-widget-body-div" *ngFor="let campaign of campaigns">
        <app-campaign-widget
        [campaignDTO]="campaign">

        </app-campaign-widget>
      </div>
    </div>
    <div class="paginator-container">
      <div>
        <mat-paginator class="custom-paginator"
                       [length]="length"
                       [pageSize]="pageSize"
                       [showFirstLastButtons]="true"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       [pageIndex]="pageIndex"
                       (page)="handlePageEvent($event)"
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  }
</div>
