<div class="cs-elem">
  <div class="cs-elem-content">
    @if (isEditingPasswordElement()) {
      <label for="old-password-input">Old Password:</label>
      <input type="password" id="old-password-input" [(ngModel)]="oldPassword" class="default-input-3">
      @if (isNewPasswordInvalid()) {
        <span class="validation-error-span">{{ oldPasswordInvalidMessage }}</span>
      }
    }

    <span>{{ editableElement.name }}:</span>
    @if (!isEditingField) {
      <label for="new-value-input">{{ this.editableElement.value }}</label>
    } @else {
      <input id="new-value-input" class="default-input-3"
             type="{{editableElement.editableElementType}}"
             [(ngModel)]="newValue">
    }
    @if (isFieldInvalid()) {
      <span class="validation-error-span">{{ fieldInvalidMessage }}</span>
    }
    @if (isPasswordInvalid()) {
      <span class="validation-error-span">{{ passwordInvalidMessage }}</span>
    }
    @if (isEditingPasswordElement()) {
      <label for="password-confirmation-input">Password Confirmation:</label>
      <input type="password" id="password-confirmation-input" [(ngModel)]="passwordConfirmation"
             class="default-input-3">
      @if (isPasswordsNotMatch()) {
        <span class="validation-error-span">{{ passwordsNotMatchMessage }}</span>
      }
    }
  </div>
  @if (isEditable) {
    <div class="cs-button-elem">
      @if (!isEditingField) {
        <button class="default-btn" type="button" (click)="onEdit()">Edit</button>
      } @else {
        <button class="default-btn" type="button" (click)="onConfirm()">Confirm</button>
        <button class="default-btn" type="button" (click)="onCancel()">Cancel</button>
      }
    </div>
  }
</div>
